
.h1{
	position:center:
	color:#FFFEFE;
}


.jumbotron {
  background-image:url('./potluck.png');
  height: 525px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  opacity: 0.8;
  padding-bottom: 10px:;
}
.navbar {
	background-color: transparent;
	font-size: 48px:;
}
.navbar navbar-header{
	font-size: 100px
}
/*.navbar li {
	color:#FFFEFE;
}
.navbar-nav li a:hover {
      color: # #FFFEFE !important;
  }
*/
body{
	background-color: #9ACCEF;
	padding:0;

}

#header {
	color:#FFFEFE;
	animation-name: letss
}

#cardOne {
	color: white;
	padding-top: 10px;
}

.jumbotron .container {
  position: relative;
  top:0px;
  padding-bottom: 10px:;
  
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 30px;
  color: #fff;
}

.card-columns {
	border-style: solid;
	color:white;
}


.card{
	border-style: none;
	border-radius: 25px;
	background-color: white;
	margin-top: 20px;
	width: 350px;
	height: 300px;
	margin-left: 15px;
	

}
.card-header{
	font-size: 48px;
	text-align: center;
	font-family: 'Lobster';
}

#item_add {
  margin-top: 5px;
  margin-left: 14px;
  margin-bottom: 10px
}

#eventC{
   margin-left: 10px;
}
#input{
  margin-left: 10px;

}

#create_event{
  width: 100%
}

#thirdrow {
	text-align: center
}

.title {
  text-align: center;
  background-color: transparent;
  animation: sway 3s;
  animation-direction: alternate;
 /* animation-timing-function: cubic-bezier(.5,0.05,1,.5); */
  animation-iteration-count: 2;
} 
.title h1{
	color: #FFFEFE;
	font-size: 48px;

}

@keyframes sway {
  from { transform: translate3d(0px, 0, 0);     }
  to   { transform: translate3d(600px, 0, 0); }
}*/

#footer {
  background-color: #0084FF;
}

.whitetext {
  color: white;
  font-family: 'Comic sans', sans-serif;
}

.userMessage{
    margin: 1% 30% 1% 30%;
    font-size: 2rem;
    border: 0.1rem solid white; 
    width: 40%;
    padding: 0 0 0 2%;
    background-color: #393E41;
    color: white;
    font-weight: 300;
}
.userMessage img{
    height: 3rem;
    width: auto;
}
#input{
  margin-left: 15px
}
.botMessage{
    margin: 1% 30% 1% 30%;
    font-size: 2rem;
    border: 0.1rem solid white; 
    width: 40%;
    padding: 0 2% 0 0;
    background-color: #F25A29;
    color: white;
    font-weight: 300;
}
.botMessage img{
    height: 3rem;
    width: auto;
}
.user-text{
    font-size: 1.5rem;
    text-align: left;   
}
.bot-text{
    font-size: 1.5rem;
    text-align: right;   
}
#feed{
    overflow: scroll;
    overflow-x: hidden; 
    max-height: 60%;
}

button { width: 18%; background: #E7BB41; border: none; padding: 10px 10px 10px 10px; text-align: center; color:white; 
    font-size: 80%; overflow: hidden; font-size: 1.5rem; margin: 0 2% 0 2%;}
}
input {
    display: block;
    text-align: left;
    width: 20rem;
    height: 4.0rem;
    margin: 0 30% 0 30%;
}
#input-message{
    height: 2.0rem;
    width: 70vw;
}
#message-button{
    background: #393E41;
    width:10%;
}

.logo{
    text-align: center;
    margin-bottom: 4%;
    font-family: 'Fredoka One';
    font-size: 10rem;
    cursor: pointer;
}
a:visited{
  color:white;
}
